# Ignore entire directories
build/
dist/
public/
node_modules/

# Ignore a specific file
src/utils/unformatted-file.js

# Ignore all files with a specific extension
*.min.js
*.svg

# Ignore files inside a directory, but not the directory itself
/scripts/*
CHANGELOG.md
manifest_files/
package.json
package-lock.json
eslint.config.js
eslint.config.mjs
eslint.config.cjs
tsconfig.json
