.todo-widget {
    background: #000000;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 410px;
    user-select: none;
}

.todo-header {
    display: flex;
    justify-content: space-between;
}

.todo-input {
    display: flex;
    gap: 5px;
    margin: 10px 0;
    align-items: center;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    background: #2b2b2b;
    padding: 12px;
    border-radius: 15px;
}

.task-item.completed .task-text {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-input {
    height: 30px;
    width: 360px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: rgb(0, 0, 0) solid 2px;
    padding: 5px;
    color: #fff;
    background-color: #2b2b2b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
